<p><%= t('hello_to_someone',:someone=>@resource.email) %></p>

<p><%= t('devise.mailer.unlock_instructions.reason') %></p>

<p><%= t('devise.mailer.unlock_instructions.click_below') %></p>

<p><%= link_to t('devise.mailer.unlock_instructions.button'), unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
